.*
.dub

docs.json
__dummy.html
dub.selections.json
schema.d

examples/sqlite/sqlite
examples/postgresql/postgresql



# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
